[Desktop Entry]
Type=Application
Name=Glyphs
Comment=Screensaver effect: glyphs
Exec=idle preview glyphs
Icon=trance-glyphs
Terminal=false
Categories=Screensaver;
